## 2.2.1 读取数据

In [1]:
import os 

os.makedirs(os.path.join('..', 'data'), exist_ok=True) 
data_file=os.path.join('..', 'data', 'house_tiny.csv')

with open(data_file, 'w') as f: 
    f.write('NumRooms, Alley, Price\n') #列名 
    f.write('NA, Pave, 127500\n') # 每行表示一个数据
    f.write('2,NA,106000\n')
    f.write('4,NA,178100\n')
    f.write('NA,NA,140000\n')

In [2]:
pip install --upgrade pandas

Requirement already satisfied: pandas in d:\anaconda\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in d:\anaconda\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\anaconda\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\anaconda\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in d:\anaconda\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in d:\anaconda\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [4]:
data=pd.read_csv(data_file)
data

   NumRooms  Alley   Price
0       NaN   Pave  127500
1       2.0    NaN  106000
2       4.0    NaN  178100
3       NaN    NaN  140000

## 2.2.2 处理缺失值

In [5]:
inputs, outputs=data.iloc[:,0:2], data.iloc[:,2]

In [14]:
inputs=pd.get_dummies(inputs, dummy_na=True)
inputs=inputs.replace({True:1, False:0})
inputs=inputs.fillna(inputs.mean())
inputs

   NumRooms   Alley_ Pave   Alley_nan
0       3.0             1           0
1       2.0             0           1
2       4.0             0           1
3       3.0             0           1

In [15]:
outputs

0    127500
1    106000
2    178100
3    140000
Name:  Price, dtype: int64

## 2.2.3 转换为张量格式

In [16]:
import torch

In [18]:
X=torch.tensor(inputs.to_numpy(dtype=float))
y=torch.tensor(outputs.to_numpy(dtype=float)) 
X, y

(tensor([[3., 1., 0.],
         [2., 0., 1.],
         [4., 0., 1.],
         [3., 0., 1.]], dtype=torch.float64),
 tensor([127500., 106000., 178100., 140000.], dtype=torch.float64))